@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-btn {
    background-color: #00A5A7;
    color: white;
    border: none;
}

.primary-btn:hover {
    background-color: #008E90;
}

.secondary-btn {
    /* background-color: #004E7C; */
    background: transparent;
    color: #004E7C;
    border: 1px solid #004E7C;
}

.secondary-btn:hover {
    background-color: #004E7C;
    color: white;
}


.customFileInput {
    display: none;
    /* Hide the original input */
}

.customFileLabel {
    display: inline-block;
    cursor: pointer;
    color: #9CA3AF;
    border: 1px solid #9CA3AF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}